* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fdf9c4;
    font-weight: 300;
    color: #696767;
}
.header {
    height: 5vw;
    text-align: center;
    width: 100%;
    background-color: #ffda9e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > form {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.todo-container {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #c0bbbb;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 6px 10px #ffda9e80;
    width: 48vw;
}
.todo-inputs-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
}

.todo-inputs {
    display: inline-flex;
    flex-direction: column;
}

.todo-btn-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.todo-add-btn {
    border-radius: 5px;
    border: 1px solid #c0bbbb;
    font-size: medium;
    height: 4vw;
    width: 12vw;
    background-color: #b2e2f2;
}

.todo-add-btn:hover {
    border-radius: 5px;
    border: 1px solid #c0bbbb;
    height: 4vw;
    width: 12vw;
    background-color:  #c5c6c8;
}

.todo-add-btn:focus {
    border-radius: 5px;
    border: 1px solid #c0bbbb;
    height: 4vw;
    width: 12vw;
    background-color: #b2e2f2;
}